.cf::before,
.cf::after{
	content: "";
	display: block;
	clear: both;
}

html{
	font-size: 62.5%;
	font-family: arial;
	height: 100%;
}
body{
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
ul,li{
	list-style: none;
}
/* reset end */
/*-----header----*/
header{
     background: #4182f1 url('../img/bg-news-logo_344ce44.png') no-repeat center center ;
     background-size: 6rem;
}
header a{
	display: block;
	height: 48px;
	line-height: 48px;
	color: #fff;
	margin: 0 1rem;
}
header a:nth-child(1),
header a:nth-child(2){
	float: left;
}
header a:nth-child(3),
header a:nth-child(4){
	float: right;
}
header a .iconfont{
	font-size: 2rem;
}
/*-----nav-----*/
nav{
	background: #4182f1;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
nav ul li{
	display: inline-block;
	/*width: 16.66%;*/
	font-size: 1.6rem;
	text-align: center;
}
nav a{
	display: inline-block;
	padding: 1rem 0;
	color: #fff;
}
nav ul i{
	display: inline-block;
	height: 2rem;
	float: right;
	border-right: 1px solid #5898f0;
	position: relative;
	top: 1.1rem;
}
/*--nav end----*/
/*---header  end---*/
/*--article----*/
.news-lists{
	margin: 1rem 0 0;
	padding: 0 1.3rem;
	list-style: none;
}

.news-lists h1{
	font-size: 1.3rem;
}
.news-list{
	display: flex;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 1rem;
}
.newsimg{
	flex: 1;
}
.newscontent{
	flex: 2;
	padding: 0 0.8rem;
}
.newsimg img{
	width: 100%;
	height: auto;
}
.newscontent span{
	display: inline-block;
}
.newscontent span:nth-child(2){
	margin-left: .8rem;
	border: 1px solid #ff0000;
	border-radius: 3px;
	color: #ff0000;
}

/*----article end------*/